{% extends "javascript.htm" %}

{% load static %}
{% load l10n %}
{% load i18n %}

{% block arches_translations %}
{{ block.super }}
<div class='arches-translations'
    exported-thesaurus='{% trans "Exported Thesaurus" as exportedThesaurus %} "{{ exportedThesaurus|escapejs }}"'
    select-a-scheme-to-export='{% trans "Select a Scheme to export" as selectASchemeToExport %} "{{ selectASchemeToExport|escapejs }}"'
    select-a-thesaurus-to-migrate='{% trans "Select a Thesaurus to Migrate to Lingo resource instances" as selectAThesaurusToMigrate %} "{{ selectAThesaurusToMigrate|escapejs }}"'
    thesaurus-loaded='{% trans "Thesaurus Loaded" as thesaurusLoaded %} "{{ thesaurusLoaded|escapejs }}"'
></div>
{% endblock arches_translations %}
